h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, #portfolio-page article, #portfolio-page, .content-wrapper, section, #hero-text, #hero, header, #footer-wrapper, footer, .popup-form {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#bio figure {
  width: 100px;
  padding: 0;
  margin: 16px 16px 0 0;
  float: left;
}
#bio figure img {
  width: 100%;
  border: solid 2px #fff;
  border-radius: 50%;
}
#bio p {
  font-family: "Kameron", serif;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #bio {
    width: 600px;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #bio {
    width: 800px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  #bio figure {
    width: 200px;
    float: unset;
    margin: 0 30px 0 0;
  }
  #bio p {
    width: 500px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, #portfolio-page article, #portfolio-page, .content-wrapper, section, #hero-text, #hero, header, #footer-wrapper, footer, .popup-form {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.popup {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #e6eef2;
  border: solid 3px #004372;
  border-radius: 10px;
  z-index: 20;
  padding: 10px;
  width: 275px;
  font-family: "Syne", sans-serif;
}
.popup h2, .popup p {
  text-align: center;
  flex-basis: 100%;
}
.popup p {
  font-size: 1.25em;
}
.popup h5 {
  margin: 15px 0 0;
  font-size: 0.875em;
}
.popup a {
  color: #222;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup ::-webkit-scrollbar {
  width: 5px;
}
.popup ::-webkit-scrollbar-track {
  background: #fff;
}
.popup ::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 8px;
}

.popup-form {
  width: 260px;
  flex-flow: row wrap;
}

.contact-info-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.popup-contact,
.popup-message {
  width: 100%;
  justify-content: center;
}

input[name=name],
input[name=email] {
  width: 100%;
}

input,
textarea {
  font-family: "Kameron", serif;
}

textarea {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  resize: none;
}

input[type=submit] {
  width: 150px;
  padding: 10px 0;
  color: #fff;
  background-color: #004372;
  border-radius: 5px;
  border: solid 3px #fff;
  transition: 0.1s;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
  font-weight: 700;
}
input[type=submit]:hover {
  color: #004372;
  background-color: #fff;
  transition: 0.1s;
  cursor: pointer;
}
input[type=submit]:active {
  background-color: #c9c9c9;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  padding: 3px;
  text-align: center;
  margin: 3px;
  font-family: "syne", sans-serif;
  border-radius: 5px;
  transition: 0.1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Syne", sans-serif;
  font-size: 1.25em;
}
.close:hover {
  background-color: #333;
  color: #fff;
  transition: 0.1s;
  cursor: pointer;
}
.close:active {
  background-color: #555;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .popup {
    padding: 50px;
    width: 600px;
  }
  .popup h5 {
    font-size: 1em;
  }

  .popup-form {
    width: 100%;
  }

  .contact-info-wrap {
    justify-content: space-between;
  }

  .popup-contact {
    width: 48%;
  }

  input[name=name],
input[name=email] {
    width: 100%;
  }

  textarea {
    height: 300px;
    width: 100%;
  }

  input[type=submit] {
    width: 200px;
    padding: 15px 0;
    margin-top: 25px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, #portfolio-page article, #portfolio-page, .content-wrapper, section, #hero-text, #hero, header, #footer-wrapper, footer, .popup-form {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
footer {
  width: 100%;
  flex-flow: row wrap;
  color: #fff;
  padding: 40px 0;
  border-top: solid 2px #fff;
  background-color: #004372;
}

#footer-wrapper {
  flex-flow: row wrap;
}
#footer-wrapper h3 {
  text-transform: initial;
  margin: 0;
}
#footer-wrapper img {
  width: 50px;
}

#contacts {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 25px 0 0;
}

#email {
  display: flex;
  font-family: "Kameron", serif;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#email img {
  padding: 0 10px 0 0;
}

#socials {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 300px;
  padding: 40px 0 0;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #footer-wrapper {
    width: 700px;
  }

  #contacts {
    width: 100%;
    justify-content: space-between;
  }
  #contacts #email {
    width: 320px;
    transition: 0.2s;
  }
  #contacts #email:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
  }

  #socials {
    padding: 0;
  }
  #socials a {
    transition: 0.2s;
  }
  #socials a:hover {
    transform: scale(1.15);
    transition: 0.2s;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #footer-wrapper {
    width: 800px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, #portfolio-page article, #portfolio-page, .content-wrapper, section, #hero-text, #hero, header, .popup-form, footer, #footer-wrapper {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #004372;
  z-index: 10;
  border-bottom: solid 2px #fff;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 15px 0;
}

h1 a {
  color: #fff;
  text-decoration: none;
}

nav {
  display: none;
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul a {
  color: #fff;
  text-decoration: none;
}
nav ul a li {
  list-style: none;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
  }

  h1 {
    margin: 0 15px;
  }

  nav {
    display: block;
  }
  nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    width: 125px;
    padding: 30px 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.9em;
  }
  nav ul li:hover {
    background-color: #112e52;
    transition: 0.2s;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #header-wrapper {
    width: 1440px;
  }

  h1 {
    font-size: 2.25em;
  }

  nav ul li {
    width: 150px;
    font-size: 1em;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, #portfolio-page article, #portfolio-page, .content-wrapper, section, #hero-text, #hero, .popup-form, footer, #footer-wrapper, header {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#hero {
  align-items: center;
  background: url("../img/hero.png") center no-repeat #333;
  background-size: cover;
  padding: 60px 0;
}

#hero-text {
  flex-flow: row wrap;
  width: 300px;
}
#hero-text h2 {
  font-family: "Kameron", serif;
  text-align: center;
  line-height: 1.75rem;
  color: #fff;
  text-shadow: 0px 1px 3px #222;
  padding: 10px 15px;
  border: solid 2px #fff;
  border-radius: 8px;
  background-color: rgba(5, 5, 5, 0.7);
  margin-top: 0;
}
#hero-text button {
  color: #fff;
  background-color: #004372;
  font-family: "Kameron", serif;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: solid 3px #fff;
  transition: 0.1s;
}
#hero-text button:hover {
  color: #004372;
  background-color: #fff;
  transition: 0.1s;
}
#hero-text button:active {
  background-color: #c9c9c9;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #hero-text {
    flex-basis: 425px;
  }
  #hero-text h2 {
    font-size: 2.175em;
    font-weight: 700;
    line-height: 2.225rem;
    padding: 20px;
  }
  #hero-text button {
    font-size: 1.5em;
    width: 200px;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1200px) {
  #hero {
    padding: 175px 0;
  }

  #hero-text {
    flex-basis: 725px;
  }
  #hero-text h2 {
    padding: 30px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, #portfolio-page article, #portfolio-page, .content-wrapper, section, .popup-form, footer, #footer-wrapper, header, #hero, #hero-text {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
html {
  font-size: 16px;
}

body {
  background-color: #004372;
  min-width: 320px;
}

main {
  margin-top: 68px;
}

h3, h4 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

section {
  flex-flow: row wrap;
}

.content-wrapper {
  flex-flow: row wrap;
  flex-basis: 90%;
  padding: 25px 0;
}

#about,
#portfolio {
  background-color: #e6eef2;
}

.hide {
  display: none;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
#portfolio-page {
  background-color: #e6eef2;
}
#portfolio-page .content-wrapper {
  flex-basis: 100%;
  padding-bottom: 0;
}
#portfolio-page h2 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
  margin: 0 0 10px;
}
#portfolio-page a:nth-child(1) {
  background-color: #f0f0f0;
}
#portfolio-page a:nth-child(2) {
  background-color: #e6eef2;
}
#portfolio-page a:nth-child(3) {
  background-color: #f0f0f0;
}
#portfolio-page a:nth-child(4) {
  background-color: #e6eef2;
}
#portfolio-page a:nth-child(5) {
  background-color: #f0f0f0;
}
#portfolio-page a:nth-child(6) {
  background-color: #e6eef2;
}
#portfolio-page a:nth-child(7) {
  background-color: #f0f0f0;
}
#portfolio-page a {
  text-decoration: none;
  color: #222;
  padding: 20px 0 0;
  border-bottom: solid 2px #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}
#portfolio-page a:first-of-type {
  margin-top: 0;
}
#portfolio-page a:last-of-type {
  border-bottom: none;
}
#portfolio-page a:hover {
  background-color: #e0ecff;
}
#portfolio-page a:hover h3 {
  text-decoration: underline;
}
#portfolio-page article {
  flex-flow: row wrap;
  width: 90%;
}

.portfolio-screenshot {
  display: flex;
  width: 100%;
  margin: 0;
}
.portfolio-screenshot img {
  width: 100%;
  border-radius: 15px;
}

.portfolio-text {
  width: 100%;
}
.portfolio-text h3 {
  text-transform: none;
}
.portfolio-text p {
  font-family: "Kameron", serif;
}
.portfolio-text p strong {
  font-family: "Syne", sans-serif;
}

@media only screen and (min-width: 768px) {
  #portfolio-page article {
    padding: 20px 0 40px;
    align-items: center;
    justify-content: space-between;
  }
  #portfolio-page a:nth-child(1) article {
    flex-flow: row-reverse wrap;
  }
  #portfolio-page a:nth-child(1) article .portfolio-text {
    margin: 0 20px 0 0;
    text-align: right;
  }
  #portfolio-page a:nth-child(1) article .portfolio-text h3 {
    text-align: right;
  }
  #portfolio-page a:nth-child(2) article {
    flex-flow: row wrap;
  }
  #portfolio-page a:nth-child(2) article .portfolio-text {
    margin: 0 0 0 20px;
    text-align: left;
  }
  #portfolio-page a:nth-child(2) article .portfolio-text h3 {
    text-align: left;
  }
  #portfolio-page a:nth-child(3) article {
    flex-flow: row-reverse wrap;
  }
  #portfolio-page a:nth-child(3) article .portfolio-text {
    margin: 0 20px 0 0;
    text-align: right;
  }
  #portfolio-page a:nth-child(3) article .portfolio-text h3 {
    text-align: right;
  }
  #portfolio-page a:nth-child(4) article {
    flex-flow: row wrap;
  }
  #portfolio-page a:nth-child(4) article .portfolio-text {
    margin: 0 0 0 20px;
    text-align: left;
  }
  #portfolio-page a:nth-child(4) article .portfolio-text h3 {
    text-align: left;
  }
  #portfolio-page a:nth-child(5) article {
    flex-flow: row-reverse wrap;
  }
  #portfolio-page a:nth-child(5) article .portfolio-text {
    margin: 0 20px 0 0;
    text-align: right;
  }
  #portfolio-page a:nth-child(5) article .portfolio-text h3 {
    text-align: right;
  }
  #portfolio-page a:nth-child(6) article {
    flex-flow: row wrap;
  }
  #portfolio-page a:nth-child(6) article .portfolio-text {
    margin: 0 0 0 20px;
    text-align: left;
  }
  #portfolio-page a:nth-child(6) article .portfolio-text h3 {
    text-align: left;
  }
  #portfolio-page a:nth-child(7) article {
    flex-flow: row-reverse wrap;
  }
  #portfolio-page a:nth-child(7) article .portfolio-text {
    margin: 0 20px 0 0;
    text-align: right;
  }
  #portfolio-page a:nth-child(7) article .portfolio-text h3 {
    text-align: right;
  }

  .portfolio-screenshot {
    width: 40%;
  }
  .portfolio-screenshot img {
    width: 100%;
    border-radius: 10px;
  }

  .portfolio-text {
    width: 50%;
    margin-left: 20px;
  }
  .portfolio-text h3 {
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  #portfolio-page h2 {
    margin: 15px 0 25px;
  }
  #portfolio-page .portfolio-text {
    width: 600px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, .popup-form, footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper, #portfolio-page, #portfolio-page article {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, .popup-form, footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper, #portfolio-page, #portfolio-page article {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#skills {
  background-color: #83c5d6;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  color: #fff;
  text-align: center;
}
#skills h3 {
  padding-bottom: 0;
}
#skills h4 {
  margin: 25px 0;
  width: 100%;
}
#skills h5 {
  width: 100%;
  margin: 11px 0 20px;
}
#skills figure {
  flex-flow: row wrap;
  width: 100px;
  min-height: 100px;
  margin: 2px 5px;
  line-height: 14px;
}
#skills figure img {
  height: 60px;
}
#skills figure h5 {
  font-family: "Syne", sans-serif;
}

#languages,
#tools {
  flex-flow: row wrap;
  width: 100%;
}

#languages {
  border-bottom: solid 2px #fff;
}
#languages .figure-wrap {
  width: 350px;
}

#tools .figure-wrap {
  max-width: 500px;
}

.figure-wrap {
  flex-flow: row wrap;
  align-items: baseline;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #skills h4 {
    width: 100%;
  }
  #skills figure {
    width: 125px;
    line-height: 1em;
  }
  #skills figure img {
    height: 90px;
  }
  #skills figure h5 {
    font-size: 1em;
  }

  #languages {
    width: 700px;
  }
  #languages .figure-wrap {
    width: 100%;
  }

  #tools {
    width: 600px;
  }
  #tools .figure-wrap {
    max-width: 100%;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #skills figure {
    margin: 2px 10px;
  }

  #languages,
#tools {
    width: 650px;
    padding-bottom: 25px;
  }

  #languages {
    border: none;
  }
  #languages .figure-wrap {
    border-right: solid 2px #fff;
  }
  #languages figure {
    margin: 2px 20px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.popup-form, footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper, #portfolio-page, #portfolio-page article, #skills figure, #languages,
#tools, .figure-wrap {
  display: flex;
  justify-content: center;
}

#thankyou {
  background-color: #e6eef2;
  height: 72vh;
}
#thankyou h1 {
  color: #000;
  width: 100%;
  text-align: center;
  margin-top: 12%;
}
#thankyou p {
  font-family: "Kameron", serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0 10%;
  margin-bottom: 25%;
}

h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.popup-form, footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper, #portfolio-page, #portfolio-page article, #skills figure, #languages,
#tools, .figure-wrap {
  display: flex;
  justify-content: center;
}

.mobile-thumb {
  display: block;
}

.carousel-thumb {
  display: none;
}

.carousel-wrapper {
  flex-basis: 100%;
  position: relative;
  margin: 25px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide a,
#more {
  color: #000;
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 8px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
  font-weight: 700;
}
.carousel-slide a:hover,
#more:hover {
  background-color: #c9c9c9;
  transition: 0.2s;
}

.carousel-slide {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border-radius: 15px;
  overflow: hidden;
  background-color: whitesmoke;
}
.carousel-slide figure {
  width: 100%;
  margin: 0;
}
.carousel-slide figure img {
  width: 100%;
  top: 0;
}
.carousel-slide ::-webkit-scrollbar {
  display: none;
}

.carousel-text {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 20px;
  height: 250px;
  overflow-y: scroll;
}
.carousel-text h4 {
  width: 100%;
  font-size: 1.5em;
  margin: 0;
  text-align: left;
  text-transform: initial;
}
.carousel-text p {
  font-family: "Kameron", serif;
}
.carousel-text p strong {
  font-family: "Syne", sans-serif;
}
.carousel-text a {
  font-size: 1.1em;
  height: 16px;
}

.prevBtn,
.nextBtn {
  width: auto;
  padding: 10px;
  background-color: #e6eef2;
  color: #004372;
  transition: 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bolder;
  font-size: 18px;
}
.prevBtn:hover,
.nextBtn:hover {
  cursor: pointer;
  background-color: #004372;
  color: #e6eef2;
  transition: 0.2s;
}

.prevBtn {
  border-radius: 5px 0 0 5px;
}

.nextBtn {
  border-radius: 0 5px 5px 0;
}

.navdots {
  text-align: center;
  flex-basis: 100%;
  margin: 15px 0 0;
}

.navdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px 0;
  background-color: #83c5d6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}
.navdot:hover {
  background-color: #004372;
}

.selected {
  background-color: #004372;
}

#more {
  font-size: 1.3em;
  padding: 20px;
  margin: 25px 0;
}

@media only screen and (min-width: 768px) {
  .carousel-slide {
    width: 675px;
  }
  .carousel-slide figure {
    width: 100%;
  }

  .carousel-text {
    width: 100%;
    height: 275px;
    padding: 20px 30px;
    overflow-y: unset;
  }
  .carousel-text p {
    height: 175px;
  }
}
@media only screen and (min-width: 1200px) {
  .mobile-thumb {
    display: none;
  }

  .carousel-thumb {
    display: block;
  }

  .carousel-slide {
    width: 1000px;
    height: 450px;
  }
  .carousel-slide figure {
    width: 40%;
  }

  .carousel-text {
    width: 50%;
    padding: 50px;
  }
  .carousel-text p {
    height: 250px;
  }
}
.open {
  animation: open 0.75s ease-in-out;
}

.fade {
  animation: fade 0.5s both;
}

@keyframes open {
  from {
    width: 0;
    height: 0;
  }
  15% {
    width: 275px;
  }
  to {
    height: 580px;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  @keyframes open {
    from {
      width: 0;
      height: 0;
    }
    10% {
      width: 600px;
    }
    to {
      height: 610px;
    }
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.popup-form, footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper, #portfolio-page, #portfolio-page article, #skills figure, #languages,
#tools, .figure-wrap {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
