h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, .content-wrapper, section, #hero-text, #hero, header, #footer-wrapper, footer {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#bio figure {
  width: 100px;
  padding: 0;
  margin: 16px 16px 0 0;
  float: left;
}
#bio figure img {
  width: 100%;
  border: solid 2px #fff;
  border-radius: 50%;
}
#bio p {
  font-family: "Kameron", serif;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #bio {
    width: 600px;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #bio {
    width: 800px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  #bio figure {
    width: 200px;
    float: unset;
    margin: 0 30px 0 0;
  }
  #bio p {
    width: 500px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, .content-wrapper, section, #hero-text, #hero, header, #footer-wrapper, footer {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
footer {
  width: 100%;
  flex-flow: row wrap;
  color: #fff;
  padding: 40px 0;
  border-top: solid 2px #fff;
  background-color: #004372;
}

#footer-wrapper {
  flex-flow: row wrap;
}
#footer-wrapper h3 {
  text-transform: initial;
  margin: 0;
}
#footer-wrapper img {
  width: 50px;
}

#contacts {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 25px 0 0;
}

#email {
  display: flex;
  font-family: "Kameron", serif;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  align-items: center;
}
#email img {
  padding: 0 10px 0 0;
}

#socials {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 300px;
  padding: 40px 0 0;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #footer-wrapper {
    width: 700px;
  }

  #contacts {
    width: 100%;
    justify-content: space-between;
  }
  #contacts #email {
    width: 320px;
    transition: 0.2s;
  }
  #contacts #email:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  #socials {
    padding: 0;
  }
  #socials a {
    transition: 0.2s;
  }
  #socials a:hover {
    transform: scale(1.15);
    transition: 0.2s;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #footer-wrapper {
    width: 800px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, .content-wrapper, section, #hero-text, #hero, header, footer, #footer-wrapper {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #004372;
  z-index: 10;
  border-bottom: solid 2px #fff;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 15px 0;
}

h1 a {
  color: #fff;
  text-decoration: none;
}

nav {
  display: none;
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul a {
  color: #fff;
  text-decoration: none;
}
nav ul a li {
  list-style: none;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
  }

  h1 {
    margin: 0 15px;
  }

  nav {
    display: block;
  }
  nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    width: 125px;
    padding: 30px 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.9em;
  }
  nav ul li:hover {
    background-color: #112e52;
    transition: 0.2s;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #header-wrapper {
    width: 1440px;
  }

  h1 {
    font-size: 2.25em;
  }

  nav ul li {
    width: 150px;
    font-size: 1em;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, .content-wrapper, section, #hero-text, #hero, footer, #footer-wrapper, header {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#hero {
  align-items: center;
  background: url("../img/hero.png") center no-repeat #333;
  background-size: cover;
  padding: 60px 0;
}

#hero-text {
  flex-flow: row wrap;
  width: 300px;
}
#hero-text h2 {
  font-family: "Kameron", serif;
  text-align: center;
  line-height: 1.75rem;
  color: #fff;
  text-shadow: 0px 1px 3px #222;
  padding: 10px 15px;
  border: solid 2px #fff;
  border-radius: 8px;
  background-color: rgba(5, 5, 5, 0.7);
  margin-top: 0;
}
#hero-text button {
  color: #fff;
  background-color: #004372;
  font-family: "Kameron", serif;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: solid 3px #fff;
  transition: 0.1s;
}
#hero-text button:hover {
  color: #004372;
  background-color: #fff;
  transition: 0.1s;
}
#hero-text button:active {
  background-color: #c9c9c9;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #hero-text {
    flex-basis: 425px;
  }
  #hero-text h2 {
    font-size: 2.175em;
    font-weight: 700;
    line-height: 2.225rem;
    padding: 20px;
  }
  #hero-text button {
    font-size: 1.5em;
    width: 200px;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #hero {
    padding: 175px 0;
  }

  #hero-text {
    flex-basis: 725px;
  }
  #hero-text h2 {
    padding: 30px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, .content-wrapper, section, footer, #footer-wrapper, header, #hero, #hero-text {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
html {
  font-size: 16px;
}

body {
  background-color: #004372;
  min-width: 320px;
}

main {
  margin-top: 68px;
}

h3, h4 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

section {
  flex-flow: row wrap;
}

.content-wrapper {
  flex-flow: row wrap;
  flex-basis: 90%;
  padding: 25px 0;
}

#about,
#portfolio {
  background-color: #e6eef2;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
.carousel-text a {
  font-family: "Syne", sans-serif;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border: solid 3px #000;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 1.2em;
}
.carousel-text a:hover {
  background-color: #c9c9c9;
  transition: 0.2s;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

.figure-wrap, #languages,
#tools, #skills figure, footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#skills {
  background-color: #83c5d6;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  color: #fff;
  text-align: center;
}
#skills h3 {
  padding-bottom: 0;
}
#skills h4 {
  margin: 25px 0;
  width: 100%;
}
#skills h5 {
  width: 100%;
  margin: 11px 0 20px;
}
#skills figure {
  flex-flow: row wrap;
  width: 100px;
  min-height: 100px;
  margin: 2px 5px;
  line-height: 14px;
}
#skills figure img {
  height: 60px;
}
#skills figure h5 {
  font-family: "Syne", sans-serif;
}

#languages,
#tools {
  flex-flow: row wrap;
  width: 100%;
}

#languages {
  border-bottom: solid 2px #fff;
}

.figure-wrap {
  flex-flow: row wrap;
  width: 100%;
  align-items: baseline;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #skills h4 {
    width: 100%;
  }
  #skills figure {
    width: 125px;
    line-height: 1em;
  }
  #skills figure img {
    height: 90px;
  }
  #skills figure h5 {
    font-size: 1em;
  }

  #languages {
    width: 700px;
  }

  #tools {
    width: 600px;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 1440px) {
  #skills figure {
    margin: 2px 10px;
  }

  #languages,
#tools {
    width: 650px;
    padding-bottom: 25px;
  }

  #languages {
    border: none;
  }
  #languages .figure-wrap {
    border-right: solid 2px #fff;
  }
  #languages figure {
    margin: 2px 20px;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper, #skills figure, #languages,
#tools, .figure-wrap {
  display: flex;
  justify-content: center;
}

#thankyou {
  background-color: #e6eef2;
  height: 72vh;
}
#thankyou h1 {
  color: #000;
  width: 100%;
  text-align: center;
  margin-top: 12%;
}
#thankyou p {
  font-family: "Kameron", serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0 10%;
  margin-bottom: 25%;
}

h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper, #skills figure, #languages,
#tools, .figure-wrap {
  display: flex;
  justify-content: center;
}

.carousel-wrapper {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.carousel-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  border-radius: 15px;
  height: 350px;
  overflow: hidden;
  background-color: rgba(131, 197, 214, 0.6);
}
.carousel-slide figure {
  width: 40%;
  margin: 0;
}
.carousel-slide figure img {
  width: 100%;
  top: 0;
}

.carousel-text {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  padding: 10px 30px;
  align-items: baseline;
}
.carousel-text h4 {
  text-transform: initial;
  margin: 0;
}
.carousel-text p {
  height: 200px;
  font-family: "Kameron", serif;
}
.carousel-text p strong {
  font-family: "Syne", sans-serif;
}
.carousel-text a {
  height: 20px;
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 10px;
  background-color: rgba(230, 238, 242, 0.6);
  color: #004372;
  font-weight: bolder;
  font-size: 18px;
  transition: 0.6s;
}
.prevBtn:hover,
.nextBtn:hover {
  cursor: pointer;
  background-color: #004372;
  color: #e6eef2;
  transition: 0.6s;
}

.nextBtn {
  right: 0;
}

h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

footer, #footer-wrapper, header, #hero, #hero-text, section, .content-wrapper, #skills figure, #languages,
#tools, .figure-wrap {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
