h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

#skills figure, #skills #languages,
#skills #tools, .content-wrapper, section, #hero-text, #hero, header, #contacts, #footer-wrapper, footer {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#bio figure {
  width: 100px;
  padding: 0;
  margin: 0 16px 0 0;
  float: left;
}
#bio figure img {
  width: 100%;
  border: solid 2px #fff;
  border-radius: 50%;
}
#bio p {
  font-family: "Kameron", serif;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

#skills figure, #skills #languages,
#skills #tools, .content-wrapper, section, #hero-text, #hero, header, #contacts, #footer-wrapper, footer {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
footer {
  flex-flow: row wrap;
  color: #fff;
  padding: 40px 0;
  border-top: solid 2px #fff;
}

#footer-wrapper {
  flex-flow: row wrap;
}
#footer-wrapper h3 {
  text-transform: initial;
}
#footer-wrapper img {
  width: 50px;
}

#contacts {
  flex-flow: row wrap;
}

#email {
  display: flex;
  font-family: "Kameron", serif;
  font-weight: bold;
  font-size: 20px;
  width: 320px;
  align-items: center;
}
#email img {
  padding: 0 10px 0 0;
}

#socials {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 300px;
  padding: 40px 0 0;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

#skills figure, #skills #languages,
#skills #tools, .content-wrapper, section, #hero-text, #hero, header, footer, #footer-wrapper, #contacts {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #004372;
  z-index: 10;
  border-bottom: solid 2px #fff;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 15px 0;
}

nav {
  display: none;
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul a {
  color: #fff;
  text-decoration: none;
}
nav ul a li {
  list-style: none;
}

/*==========================
  TABLET
==========================*/
@media only screen and (min-width: 768px) {
  #header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
  }

  h1 {
    margin: 0 15px;
  }

  nav {
    display: block;
  }
  nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    width: 125px;
    padding: 30px 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.9em;
  }
  nav ul li:hover {
    background-color: #112e52;
    transition: 0.2s;
  }
}
/*==========================
  DESKTOP
==========================*/
@media only screen and (min-width: 768px) {
  nav ul li {
    width: 150px;
    font-size: 1em;
  }
}
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

#skills figure, #skills #languages,
#skills #tools, .content-wrapper, section, #hero-text, #hero, footer, #footer-wrapper, #contacts, header {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#hero {
  align-items: center;
  background: url("../img/hero.png") center no-repeat #333;
  background-size: cover;
  padding: 60px 0;
}
#hero button {
  color: #fff;
  background-color: #004372;
  font-family: "Kameron", serif;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: solid 3px #fff;
  transition: 0.1s;
}
#hero button:hover {
  color: #004372;
  background-color: #fff;
  transition: 0.1s;
}
#hero button:active {
  background-color: #c9c9c9;
}

#hero-text {
  flex-flow: row wrap;
  width: 300px;
}
#hero-text h2 {
  font-family: "Kameron", serif;
  text-align: center;
  line-height: 28px;
  color: #fff;
  text-shadow: 0px 1px 3px #222;
  padding: 10px 15px;
  border: solid 2px #fff;
  border-radius: 8px;
  background-color: rgba(5, 5, 5, 0.7);
  margin-top: 0;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

#skills figure, #skills #languages,
#skills #tools, .content-wrapper, section, footer, #footer-wrapper, #contacts, header, #hero, #hero-text {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
html {
  font-size: 16px;
}

body {
  background-color: #004372;
  min-width: 320px;
}

main {
  margin-top: 68px;
}

h3, h4 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

section {
  flex-flow: row wrap;
}

.content-wrapper {
  flex-flow: row wrap;
  flex-basis: 90%;
  padding: 25px 0;
}

#about,
#portfolio {
  background-color: #e6eef2;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

#skills figure, #skills #languages,
#skills #tools, footer, #footer-wrapper, #contacts, header, #hero, #hero-text, section, .content-wrapper {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#portfolio a {
  font-family: "Syne", sans-serif;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border: solid 3px #000;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 1.2em;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

#skills figure, #skills #languages,
#skills #tools, footer, #footer-wrapper, #contacts, header, #hero, #hero-text, section, .content-wrapper {
  display: flex;
  justify-content: center;
}

/*==========================
  MOBILE
==========================*/
#skills {
  background-color: #83c5d6;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  color: #fff;
  text-align: center;
}
#skills h3 {
  padding-bottom: 0;
}
#skills h4 {
  margin: 25px 0;
}
#skills h5 {
  width: 100%;
  margin: 11px 0 20px;
}
#skills #languages,
#skills #tools {
  flex-flow: row wrap;
  width: 100%;
  align-items: baseline;
}
#skills #languages {
  border-bottom: solid 2px #fff;
}
#skills figure {
  flex-flow: row wrap;
  width: 100px;
  margin: 2px 5px;
  line-height: 14px;
}
#skills figure img {
  width: 60px;
  max-height: 60px;
}
#skills figure h5 {
  font-family: "Syne", sans-serif;
}

/*==========================
  TABLET
==========================*/
/*==========================
  DESKTOP
==========================*/
h1 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

footer, #footer-wrapper, #contacts, header, #hero, #hero-text, section, .content-wrapper, #skills #languages,
#skills #tools, #skills figure {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
