@import '../helpers/variables';

/*==========================
  MOBILE
==========================*/

#bio {
    figure {
        width: 100px;
        padding: 0;
        margin: 0 16px 0 0;
        float: left;
        img {
            width: 100%;
            border: $bodyborder;
            border-radius: 50%;
        }
    }
}

/*==========================
  TABLET
==========================*/

/*==========================
  DESKTOP
==========================*/