@import '../helpers/variables';

.hide {
    display: none;
}

.popup{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #e6eef2;
    border: solid 3px #004372;
    border-radius: 10px;
    z-index: 20;
    padding: 10px;
    width: 275px;
    font-family: $syne;
    h2, p {
        text-align: center;
        flex-basis: 100%;
    }
    p {
        font-size: 1.25em;
    }
    h5 {
        margin: 15px 0 0;
        font-size: .875em;
    }
    a {
        color: #222;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    ::-webkit-scrollbar {
        width: 5px;
    } 
    ::-webkit-scrollbar-track {
        background: #fff;
    }
    ::-webkit-scrollbar-thumb {
        background: $buttonclick;
        border-radius: 8px;
    }
}

.popup-form {
    @extend %center-flex;
    width: 260px;
    flex-flow: row wrap;
}

.contact-info-wrap {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}
  
.popup-contact,
.popup-message {
    width: 100%;
    justify-content: center;
}
  
input[name=name],
input[name=email] {
    width: 100%;
}
  
input,
textarea {
    font-family: $kameron;
}
  
textarea {
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    resize: none;
}
  
input[type=submit] {
    width: 150px;
    padding: 10px 0;
    color: #fff;
    background-color: #004372;
    border-radius: 5px;
    border: solid 3px #fff;
    transition: .1s;
    margin-top: 10px;
    text-transform: uppercase;
    font : {
        family: $syne;
        weight: 700;
    }
    &:hover {
        color: #004372;
        background-color: #fff;
        transition: .1s;
        cursor: pointer;
    }
    &:active {
        background-color: #c9c9c9;
    }
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    padding: 3px;
    text-align: center;
    margin: 3px;
    font-family: 'syne', sans-serif;
    border-radius: 5px;
    transition: .1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font : {
        family: $syne;
        size: 1.25em;
    }

    &:hover {
        background-color: #333;
        color: #fff;
        transition: .1s;
        cursor: pointer;
    }
    &:active {
        background-color: #555;
        color: #fff;
      }
}

@media only screen and (min-width: 768px) {
    .popup{
        padding: 50px;
        width: 600px;
        h5 {
            font-size: 1em;
        }
    }
      
      .popup-form {
        width: 100%;
      }

      .contact-info-wrap {
        justify-content: space-between;
      }
      
      .popup-contact {
        width: 48%;
      }
      
      input[name=name],
      input[name=email] {
        width: 100%;
      }
      
      textarea {
        height: 300px;
        width: 100%;
      }
      
      input[type=submit] {
        width: 200px;
        padding: 15px 0;
        margin-top: 25px;
      }
}