@import '../helpers/variables';

/*==========================
  MOBILE
==========================*/

#skills {
    background-color: $bodyblue;
    border: {
        top: $bodyborder;
        bottom: $bodyborder;
    }
    color: #fff;
    text-align: center;
    h3 {
        padding-bottom: 0;
    }
    h4 {
        margin: 25px 0;
        width: 100%;
    }
    h5 {
        width: 100%;
        margin: 11px 0 20px;
    }

    figure {
        @extend %center-flex;
        flex-flow: row wrap;
        width: 100px;
        min-height: 100px;
        margin: 2px 5px;
        line-height: 14px;
        img {
            height: 60px;
        }
        h5 {
            font-family: $syne;
        }
    }
}

#languages,
#tools {
@extend %center-flex;
flex-flow: row wrap;
width: 100%;
}

#languages {
    border-bottom: $bodyborder;
    .figure-wrap {
        width: 350px;
    }
}

#tools {
    .figure-wrap {
        max-width: 500px;
    }
}

.figure-wrap {
    @extend %center-flex;
    flex-flow: row wrap;
    align-items: baseline;
}

/*==========================
  TABLET
==========================*/

@media only screen and (min-width: 768px) {
    #skills {
        h4 {
            width: 100%;
        }
        figure {
            width: 125px;
            line-height: 1em;
            img {
                height: 90px;
            }
            h5 {
                font-size: 1em;
            }
        }
    }

    #languages {
        width: 700px;
        .figure-wrap {
            width: 100%;
        }
    }

    #tools {
        width: 600px;
        .figure-wrap {
            max-width: 100%;
        }
    }
}

/*==========================
  DESKTOP
==========================*/

@media only screen and (min-width: 1440px) {
    #skills {
        figure {
            margin: 2px 10px;
        }
    }

    #languages,
    #tools {
        width: 650px;
        padding-bottom: 25px;
    }

    #languages {
        border: none;
        .figure-wrap {
            border-right: $bodyborder;
        }
        figure {
            margin: 2px 20px;
        }
    }
}