@import '../helpers/variables';

.mobile-thumb {
    display: block;
}

.carousel-thumb {
    display: none;
}

.carousel-wrapper {
    flex-basis: 100%;
    position: relative;
    margin: 25px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide a,
#more {      
    color: #000;
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 8px;
    padding: 15px 20px;
    text : {
        decoration: none;
        transform: uppercase;
    }
    font : {
        family: $syne;
        weight: 700;
    }
    &:hover {
        background-color: $buttonclick;
        transition: .2s;
    }
}

.carousel-slide {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-radius: 15px;
    overflow: hidden;
    background-color: whitesmoke;
    figure {
        width: 100%;
        margin: 0;
        img {
            width: 100%;
            top: 0;
        }
    }
        ::-webkit-scrollbar {
        display: none;
    }
}

.carousel-text {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px;
    height: 250px;
    overflow-y: scroll;
    h4 {
        width: 100%;
        font-size: 1.5em;
        margin: 0;
        text: {
            align: left;
            transform: initial;
        }
    }
    p {
        font : {
            family: $kameron;
        }
        strong {
            font : {
                family: $syne;
            }
        }
    }
    a {
        font-size: 1.1em;
        height: 16px;
    }
}

.prevBtn,
.nextBtn {
   width: auto;
   padding: 10px;
   background-color: $bodygrey;
   color: $headerblue;
   transition: .2s;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font : {
       weight: bolder;
       size: 18px;
   }
   &:hover {
    cursor: pointer;
    background-color: #004372;
    color: #e6eef2;
    transition: .2s;
   }
}

.prevBtn {
    border-radius: 5px 0 0 5px;
}

.nextBtn {
  border-radius: 0 5px 5px 0;
}

.navdots {
    text-align: center;
    flex-basis: 100%;
    margin: 15px 0 0;
}

.navdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px 0;
    background-color: $bodyblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: $headerblue;
    }
}

.selected {
    background-color: $headerblue;
}

#more {
    font-size: 1.3em;
    padding: 20px;
    margin: 25px 0;
}

@media only screen and (min-width: 768px) {


    .carousel-slide {
        width: 675px;
        figure {
            width: 100%;
        }
    }

    .carousel-text {
        width: 100%;
        height: 275px;
        padding: 20px 30px;
        overflow-y: unset;
        .slide-text-body {
            height: 175px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .mobile-thumb {
        display: none;
    }

    .carousel-thumb {
        display: block;
    }

    .carousel-slide {
        width: 1000px;
        height: 450px;
        figure {
            width: 40%;
        }
    }

    .carousel-text {
        width: 50%;
        padding: 50px;
        .slide-text-body { 
            height: 250px;
        }
    }
}