
.open {
    animation: open .75s ease-in-out;
}

.fade {
    animation: fade .5s both;
}

@keyframes open {
    from {
        width: 0;
        height: 0;
    }

    15% {
        width: 275px;
    }

    to {
        height: 606px;
    }
}

@keyframes fade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

@media only screen and (min-width: 768px) {
    
    @keyframes open {
    from {
        width: 0;
        height: 0;
    }

    10% {
        width: 600px;
    }

    to {
        height: 626px;
    }
}

}