$headerblue: #004372;
$headerhover: #112e52;
$bodyblue: #74b2c2;
$bodygrey: #e6eef2;
$portfolio: #f0f0f0;
$portfoliohover: #e0ecff;
$translucentblack: rgba(5, 5, 5, .7);
$buttonclick: #c9c9c9;
$syne: "Syne", sans-serif;
$kameron: "Kameron", serif;
$herobg: url("../img/hero.png") center no-repeat #333;
$bodyborder: solid 2px #fff;

%heading {
    font-family: $syne;
    text-transform: uppercase;
}

%center-flex {
    display: flex;
    justify-content: center;
}